* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: rgba(28, 180, 206, 0.792);
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}
img.compartido {
    position: absolute;
}
img.top {
    top: -400px;
    left: -600px;
}
img.bottom {
    bottom: -400px;
    right: -600px;
}
main {
    overflow: initial;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    overflow: hidden;
    z-index: 10;
    width: 28rem;
    position: relative;
    border-radius: 1.5rem;
}
.main .body img {
    border-radius: 50%;
    border: 0.5rem solid white;
    position: relative;
    top: -5rem;
}
.main .body figcaption {
    position: relative;
    top: -3rem;
}
span {
    color: hsl(0, 0%, 59%);
    font-weight: 100;
}
.body {
    background-color: white;
    text-align: center;
}

.footer {
    border-top: 0.1rem solid hsl(0, 3%, 69%);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}