* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: rgba(28, 180, 206, 0.792);
    overflow: hidden;
}
img.compartido {
    position: absolute;
}
img.top {
    top: -50rem;
    left: -40rem;
}
img.bottom {
    bottom: -50rem;
    right: -40rem;
}